body{
    font-family: "华文楷体";
}
header{
    display: flex;
    justify-content: space-around;
    margin-bottom: -50px;
}

.img1{
    height: 55px;
    width: 55px;
}

.titl{
    font-size: 38px;
    font-weight: 600
}

.user-details{
    width: 100px;
    height: 55px;
    border: 1px solid #007FB0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img2{
    width: 50px;
    height: 50px;
    border: 1px solid blanchedalmond;
    border-radius: 50%;
}

.user-details>p{
    font-size: 12px;
    margin-left: 20px;
}