<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>玄幻小说阅读网站用户注册</title>
    <!--<link rel="stylesheet" href="../static/css/reg.css" />
    <script language="JavaScript" src="../static/js/jquery-3.6.0.js"></script>-->
    <link rel="stylesheet" href="/css/reg.css" />
    <script language="JavaScript" src="/js/jquery-3.6.0.js"></script>
</head>
<!--<body background="../static/images/login-bg.jpg">-->
<body background="/images/login-bg.jpg">
<div class="reg-contain">
    <div>
        <span>玄幻小说阅读网站</span>
    </div>
    <div class="reg-form">
        <div class="txtb">
            <div class="intxt">昵称：</div>
            <input type="text" id="name" placeholder="请输入用户名"/>
        </div>
        <div class="txtb">
            <div class="intxt">密码：</div>
            <input type="password" id="password" placeholder="请输入密码"/>
        </div>
        <div class="txtb">
            <div class="intxt">身份：</div>
            <select id="status">
                <option value="0">请选择身份</option>
                <option value="1">网站管理员</option>
                <option value="2">作者</option>
                <option value="3">读者</option>
            </select>
        </div>
        <div class="txtb">
            <div class="intxt">写作/阅读时长：</div>
            <input type="number" id="duration" placeholder="请输入时长，单位/年"/>
        </div>
        <div class="txtb">
            <div class="intxt">个人简介/描述：</div>
            <textarea id="details" placeholder="请输入个人简介/描述">
            </textarea>
        </div>

        <div class="txtb"><button class="reg-btn" type="button">注册</button></div>
    </div>
</div>
<script type="text/javascript" src="/js/reg.js" ></script>

<div class="copyright">
    <p>© 2021 <a href="/user/loginPage">Fantasy Novel Reading Website</a>. All rights reserved | Design by  <a href="https://blog.csdn.net/John_Mark?spm=1011.2124.3001.5343" target="_blank"> liuziqing </a></p>
</div>



</body>
</html>